server:
  port: 18082
spring:
  application:
    name: canal
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:7001/eureka
  instance:
    prefer-ip-address: true
feign:
  hystrix:
    enabled: true
#hystrix config
hystrix:
  command:
    default:
      execution:
        timeout:
          # if enabled = false, ribbon will control timeout
          enabled: true
        isolation:
          strategy: SEMAPHORE
#canal config
canal:
  client:
    instances:
      example:
        host: 192.168.77.150
        port: 11111